body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
}    
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    line-height: 40px;
}
nav a:link, nav a:visited{
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color: #a0aec0;
}
.logo{
    line-height: 40px;
    display: flex;
    align-items: center;
    font-weight: 900;
}
#app{
    max-width: 600px;
    margin: 0 auto;
}